
.NoAuth {
    background-color: #777777;
    color: white;
}

.NoAuth.RoleAuth {
    background-color:#5CB85C !important;
}

.NoAuth.UserAuth {
     background-color:#337AB7 !important;
}

.NoAuth.UserAuth.RoleAuth {
     background-color:#F0AD4E !important;
}


.NoAuth.UserRole {
    background-color:#5CB85C !important;/*#5BC0DE*/
}

.AuthBtn {
    margin: 4px 4px 4px 4px;
    border-color:inherit !important;
}

.AuthLabel {
    display: inline-block;
    margin: 4px 4px 4px 4px;
}