.tableHeader {
    /*background-color: #337AB7;*/
    /*color: white;*/
}


.controlBtn {
    background-color: white;
    color: #337AB7;
    width: 100px !important;
    margin-left: 5px;
    margin-right: 5px;
}

.form-group {
    margin-top: 5px;
    margin-bottom: 5px;
}



.querySection {
    margin-top: 20px;
}