.CyScadaBtn{
    width:120px !important;
    margin-left: 10px;
}

.CyScadaSelect{
    width:140px !important;
}


.CyScadaSideItem {
    cursor: pointer;
}


.contentTab {
   
}

.contentBody {
    margin-top: 30px;
}
