.CyScadaBtn {
    width: 120px !important;
    margin-left: 10px;
    margin-top:1px;
    margin-bottom:1px;
    margin-right:1px;
}

.CyScadaSelect {
    width: 140px !important;
}


.CyScadaSideItem {
    cursor: pointer;
    /*font-size: 25px;*/
}

.CyScadaSideMenu {
    position: absolute;
    left: 70px;
    opacity: 0;
    -webkit-transition: all 230ms;
    -moz-transition: all 230ms;
    -o-transition: all 230ms;
    visibility: hidden;
}


.CyScadaSelect2 {
    width: 180px !important;
}


/*.CyScadaSideItem:hover > ul {
    white-space: nowrap;
    background: rgba(0,0,0,0.95);
    z-index: 9;
    width: 188px;
    display: block;
    line-height: normal;
    left: 188px;
    opacity: 1;
    z-index: 20;
    text-align: left;
    visibility: visible;
}*/



.WebTitle {
    font-size: 25px;
    text-align: center;
    width: 100%;
}


.MenuTitle {
    font-size: 25px;
    text-align: center;
    width: 100%;
}

/*.panel-info>.panel-heading {
    color: inherit;
    background-color: inherit;
}*/


li.dropdown > a > span {
    font-size: 20px;
}

/*.CyScadaSideItem {
    font-size: 15px;
}*/

/*.CyScadaSideItem>span {
    font-size: 20px;
}*/


/*.menu-item > li > a,
.CyScadaSideMenu > li > a {
    font-size: 15px;
    cursor: pointer;
}*/


.contentTab {
}

.contentBody {
    margin-top: 30px;
}
