@{
    ViewBag.Title = "控制桌";
    Layout = "~/Views/Shared/_LayoutNew2.cshtml";
}

@section HeadSection{
    <!--[if lte IE 8]><script src="/js/Phantom/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="/css/Phantom/main.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="/css/Phantom/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="/css/Phantom/ie8.css" /><![endif]-->
    <link rel="stylesheet" href="/css/ControlDesk.css" />
}


@section FootScript{

    <script src="/js/Phantom/skel.min.js"></script>
    <script src="/js/Phantom/util.js"></script>
    <!--[if lte IE 8]><script src="/js/Phantom/ie/respond.min.js"></script><![endif]-->
    <script src="/js/Phantom/main.js"></script>
    <script src="/js/Services/ViewServices.js"></script>
    <script src="/js/ControlDesk/ControlDesk.js?r=20160525003"></script>
}

<div ng-app="ControlDeskList" id="ControlDeskList">
    <div ng-controller="ControlDeskListController">
        <div class="container-fluid">
            <div id="DeskWrapper">
                <!-- Main -->
                <div id="main">
                    <div class="inner">
                        <section class="tiles">
                            @*<article class="style1">
                                <span class="image">
                                    <img src="~/Images/Phantom/pic01.jpg" alt="" />
                                </span>
                                <a href="generic.html">
                                    <h2>基础信息</h2>
                                    <div class="content">
                                        <p>基础信息显示</p>
                                    </div>
                                </a>
                            </article>
                            <article class="style2">
                                <span class="image">
                                    <img src="~/Images/Phantom/pic02.jpg" alt="" />
                                </span>
                                <a href="generic.html">
                                    <h2>当前GPS</h2>
                                    <div class="content">
                                        <p>显示设备的当前GPS</p>
                                    </div>
                                </a>
                            </article>
                            <article class="style3">
                                <span class="image">
                                    <img src="~/Images/Phantom/pic03.jpg" alt="" />
                                </span>
                                <a href="generic.html">
                                    <h2>GPS轨迹</h2>
                                    <div class="content">
                                        <p>显示设备的GPS运动轨迹</p>
                                    </div>
                                </a>
                            </article>
                            <article class="style4">
                                <span class="image">
                                    <img src="~/Images/Phantom/pic04.jpg" alt="" />
                                </span>
                                <a href="generic.html">
                                    <h2>报警记录</h2>
                                    <div class="content">
                                        <p>显示设备的报警记录信息</p>
                                    </div>
                                </a>
                            </article>
                            <article class="style5">
                                <span class="image">
                                    <img src="~/Images/Phantom/pic05.jpg" alt="" />
                                </span>
                                <a href="generic.html">
                                    <h2>实时工况</h2>
                                    <div class="content">
                                        <p>显示设备的实时工作状态</p>
                                    </div>
                                </a>
                            </article>
                            <article class="style6">
                                <span class="image">
                                    <img src="~/Images/Phantom/pic06.jpg" alt="" />
                                </span>
                                <a href="generic.html">
                                    <h2>历史记录</h2>
                                    <div class="content">
                                        <p>显示设备的历史记录信息</p>
                                    </div>
                                </a>
                            </article>
                            <article class="style2">
                                <span class="image">
                                    <img src="~/Images/Phantom/pic07.jpg" alt="" />
                                </span>
                                <a href="generic.html">
                                    <h2>现场视频</h2>
                                    <div class="content">
                                        <p>连接到现场监控设备</p>
                                    </div>
                                </a>
                            </article>
                            <article class="style3">
                                <span class="image">
                                    <img src="~/Images/Phantom/pic08.jpg" alt="" />
                                </span>
                                <a href="generic.html">
                                    <h2>参数设定</h2>
                                    <div class="content">
                                        <p>设定设备运行参数</p>
                                    </div>
                                </a>
                            </article>*@
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var sideMenuId =@ViewBag.SideMenuId;
    var userId = @ViewBag.Id;
</script>





