

<link href="~/css/Site.css" rel="stylesheet">
<link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet">
<script type="text/javascript" src="~/js/jquery-1.12.2.min.js"></script>
<script type="text/javascript" src="~/js/angularjs/angular.min.js"></script>
<script type="text/javascript" src="~/js/Employee/Employee.js?r=20160407001"></script>

<div ng-app="Employee" id="EmployeeApp">
    <div ng-controller="EmployeeController">
     

    </div>
</div>