@{
    ViewBag.Title = "当前GPS";
    Layout = "~/Views/Shared/_LayoutNew4.cshtml";
}

@section HeadSection{

    <link href="~/css/MapBoard.css" rel="stylesheet" />
    <link rel="stylesheet" href="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.css" />
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=c4347QuZUP2khVUcF9jNSyO6kGL9Ccij"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/library/TextIconOverlay/1.2/src/TextIconOverlay_min.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/library/MarkerClusterer/1.2/src/MarkerClusterer_min.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.js"></script>

}


@section FootScript{
    <script type="text/javascript" src="~/js/Services/ViewServices.js?r=201604250001"></script>
    <script type="text/javascript" src="~/js/CurrentGPS/CurrentGPS.js"></script>
}

<div class="hide" id="sideMenuId">@ViewBag.SideMenuId</div>
<div id="allmap"></div>



