@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutFrm.cshtml";
}

@section HeadSection{
    <link href="~/css/EquipmentSelection.css" rel="stylesheet" />
    <script type="text/javascript" src="~/js/angularjs/angular.min.js"></script>
}

@section FootScript{
    <script type="text/javascript" src="~/js/EquipmentSelection/EquipmentSelection.js"></script>
}

<div ng-app="EquipmentSelection">
    <div ng-controller="EquipmentSelectionController">
        <div class="container-fluid" id="equipments">
            <div class="row">
                <div class="col-lg-12">
                    <h1>您好：@ViewBag.ReadName</h1>
                    <h3>请选择设备</h3>
                    <hr />
                </div>
            </div> 
            <div class="row" ng-repeat="equipment in equipmentSelections">
                <button class="btn CyScadaBtn" ng-bind-template="{{equipment.EquipmentName}}" id="{{ equipment.EquipmentId}}" onclick="Redirect(this)"></button>
            </div>
            <hr />
            <div class="row ">
                <div class="col-lg-12 centerDisplay">
                    <button class="btn CyScadaBtn" onclick="Return();">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <div id="hiddenUserId" style="display:none;">@ViewBag.UserId</div>
</div>
