@{
    ViewBag.Title = "菜单配置";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

@section HeadSection{

    <link href="~/css/Employee.css" rel="stylesheet" />
    <link href="~/css/bootstrap-table/bootstrap-table.min.css" rel="stylesheet" />
    <link href="~/css/Select2/select2.min.css" rel="stylesheet" />
    <link href="~/css/Select2/select2-bootstrap.css" rel="stylesheet" />
    @*<link href="~/css/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />*@
    @*<script type="text/javascript" src="~/js/jquery-1.12.2.min.js"></script>*@

}

@section FootScript{

    <script type="text/javascript" src="~/js/bootstrap-table/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap-table/bootstrap-table-locale-all.min.js"></script>
    @*<script type="text/javascript" src="~/js/bootstrap-select/bootstrap-select.js"></script>*@
    <script type="text/javascript" src="~/js/Select2/select2.full.min.js"></script>
    <script type="text/javascript" src="~/js/Select2/i18n/zh-CN.js"></script>
    <script type="text/javascript" src="~/js/Services/ViewServices.js?r=201604250001"></script>
    <script type="text/javascript" src="~/js/SideMenu/SideMenu.js?r=0007"></script>


}






<div ng-app="SideMenuList" id="SideMenuList">
    <div ng-controller="SideMenuListController">
        <div class="container-fluid ">
            <div class="col-lg-12">
                <div class="panel panel-info querySection">
                    <div class="panel-heading">
                        查询条件
                    </div>
                    <div class="panel-body">
                        <div class="form-inline">
                            <div class=" col-lg-3 col-lg-offset-1">
                                <div class="form-group">
                                    <label for="txtName">名称</label>
                                    <input type="text" class="form-control" id="txtName" placeholder="名称" ng-model="sideMenu.Name">
                                </div>
                            </div>
                            <div class=" col-lg-3">
                                <div class="form-group">
                                    <label for="txtAuthorityName">权限</label>
                                    <select class=" form-control" id="txtAuthorityName">
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                            <div class=" col-lg-3">
                                <div class="form-group">
                                    <label for="txtMenuType">菜单类型</label>
                                    <select class="CyScadaSelect form-control" id="txtMenuType">
                                        <option value="" selected="selected">全部</option>
                                        <option value="0">树形菜单</option>
                                        <option value="1">模块菜单</option>
                                    </select>
                                </div>
                            </div>
                            <div class=" col-lg-2">
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <button class="btn  btn-primary CyScadaBtn  pull-right" ng-click="Query()" id="btnQuery">查询</button>
                                    <button class="btn  btn-primary CyScadaBtn  pull-right" ng-click="Add()" data-target="#InfoModal" data-toggle="modal">新增</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        查询结果
                    </div>
                    <div class="panel-body">
                        <table id="ListTable" data-toggle="table" data-striped="true"
                               data-show-pagination-switch="false"
                               data-pagination="true"
                               data-page-list="[10, 25, 50, 100, ALL]"
                               data-id-field="Id"
                               data-locale="zh-CN">
                            <thead class="tableHeader">
                                <tr>
                                    <th data-align="center" data-halign="center" data-valign="middle" data-formatter="rowNumberFormatter" data-width="100">序号</th>
                                    <th data-field="Id" data-visible="false" data-align="center" data-halign="center" data-valign="middle">ID</th>
                                    <th data-field="Name" data-sortable="true" data-align="center" data-halign="center" data-valign="middle">名称</th>
                                    <th data-field="AuthorityCode" data-visible="false" data-sortable="true" data-align="center" data-halign="center" data-valign="middle">权限标识</th>
                                    <th data-field="AuthorityName" data-sortable="true" data-align="center" data-halign="center" data-valign="middle">权限名称</th>
                                    <th data-field="Class" data-sortable="true" data-align="center" data-halign="center" data-valign="middle" data-formatter="iconFormatter">图标</th>
                                    <th data-field="Url" data-visible="true" data-sortable="true" data-align="center" data-halign="center" data-valign="middle">页面路径</th>
                                    <th data-field="ParentId" data-visible="false" data-sortable="true" data-align="center" data-halign="center" data-valign="middle">父目录Id</th>
                                    <th data-field="ParentName" data-sortable="true" data-align="center" data-halign="center" data-valign="middle">父目录</th>
                                    <th data-field="SideMenuDesc" data-sortable="true" data-align="center" data-halign="center" data-valign="middle">说明</th>
                                    <th data-field="MenuType" data-sortable="true" data-align="center" data-halign="center" data-valign="middle" data-formatter="menuTypeFormatter">菜单类型</th>
                                    <th data-field="SortNumber" data-visible="true" data-sortable="true" data-align="center" data-halign="center" data-valign="middle">显示顺序</th>
                                    <th data-align="center" data-halign="center" data-valign="middle" data-events="operateEvents" data-formatter="controlFormatter">操作</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="InfoModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" ng-bind-template="{{info.title}}"></h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" name="form" novalidate="novalidate">
                            <div class="hidden" ng-bind-template="{{info.Id}}"></div>
                            <div class="form-group" ng-class="{ 'has-error' : form.name.$invalid && !form.name.$pristine }">
                                <label class="control-label col-md-2">名称:</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" ng-model="info.Name" name="name" ng-bind-template="{{info.Name}}" placeholder="请输入名称" required>
                                    <p ng-show="form.name.$invalid && !form.name.$pristine" class="help-block">请输入名称</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">权限:</label>
                                <div class="col-md-9">
                                    <select class="select2-selection" id="infoAuthorityName">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">图标:</label>
                                <div class="col-md-9">
                                    <select class="select2-selection" id="infoClass">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">关联页面路径:</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" ng-model="info.Url" ng-bind-template="{{info.Url}}" placeholder="无路径">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">父目录:</label>
                                <div class="col-md-9">
                                    <select class="select2-selection" id="infoParentName">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">显示顺序:</label>
                                <div class="col-md-9">
                                    <input type="number" class="form-control" ng-model="info.SortNumber" ng-bind-template="{{info.SortNumber}}" placeholder="显示顺序">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">菜单类型:</label>
                                <div class="col-md-9">
                                    <select class="select2-selection" id="infoMenuType">
                                        <option value="0" selected="selected">树形菜单</option>
                                        <option value="1">模块菜单</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">备注:</label>
                                <div class="col-md-9">
                                    <textarea class="form-control" rows="3" ng-model="info.SideMenuDesc" ng-bind-template="{{info.SideMenuDesc}}"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary CyScadaBtn" ng-disabled="form.$invalid" ng-click="SaveInfo(form.$valid)">保存</button>
                        <button type="button" class="btn btn-default CyScadaBtn" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

